html, body, a, input, textarea {
background: #000000;
color: #00FF00;
font-family: monospace;
height: 100%;
text-decoration: none;
}

pre {
margin: 0;
}

input ,textarea{
border: 1px solid #00FF00;
outline-style: none;
resize: none;
margin: 3px;
padding: 5px;
}

