html, body, a, input, textarea {
background: #000000;
color: #00FF00;
font-family: monospace;
height: 100%;
text-decoration: none;
}

pre {
margin: 0;
}

input ,textarea{
border: 0;
outline-style: none;
resize: none;
}

